/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


:root {
    /* Colors */
    --color-white: #ffffff;
    --color-black-1: #000000;
    --color-black-2: #0c0c0e;
    --color-brawn: #BB945F;
    --color-gray: #8E8E8E;

    /* Fonts */
    --font-inter: 'Inter', sans-serif;
    --font-forum: 'Forum', sans;

    --font-wheith-1: 400;
    --font-wheith-2: 700;
}

.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black-2);
    color: var(--color-white);
    padding: 0 20px;
}

.header-logo{
    display: flex;
    align-items: center;
}
.header-logo h1{
    font-family: var(--font-forum);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    padding-right: 40px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding-right: 30px;
    color: var(--color-white);
}
.navbar ul li:last-child{
    padding-right: 0;
}
.navbar ul li a{
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: var(--font-wheith-1);
    color: var(--color-white);
}
.icon-profile{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
}
.icon-profile img{
    width: 16px;
}
.container{
    width: 100%;
}
.section-banner{
    height: 600px;
    background: url(assets/Welcome.png)  no-repeat;
}
.banner{
    height: 300px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%) center center;
    background-size: cover;
}
.banner-title{
    padding: 220px 0 160px 40px;
}
.banner-text{
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    align-items: center;
    color: var(--color-white);
    background: var(--color-black-2);
    text-align: center;
    font-family: var(--font-forum);
    font-size: 40px;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
