/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


:root {
    /* Colors */
    --color-white: #ffffff;
    --color-black-1: #000000;
    --color-black-2: #0c0c0e;
    --color-brawn: #BB945F;
    --color-gray: #8E8E8E;

    /* Fonts */
    --font-inter: 'Inter', sans-serif;
    --font-forum: 'Forum', sans;

    --font-wheith-1: 400;
    --font-wheith-2: 700;
}

body{
    background: var(--color-gray);
}

.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: white;
}

.header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black-2);
    color: var(--color-white);
    padding: 0 20px;
}

.header-logo{
    display: flex;
    align-items: center;
}
.header-logo h1{
    font-family: var(--font-forum);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    padding-right: 40px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding-right: 30px;
    color: var(--color-white);
}
.navbar ul li:last-child{
    padding-right: 0;
}
.navbar ul li a{
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: var(--font-wheith-1);
    color: var(--color-white);
}
.icon-profile{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
}
.icon-profile img{
    width: 16px;
}
.container{
    width: 100%;
    min-height: calc(100vh - 250px);
}
.section-banner{
    height: 600px;
    background: url(assets/Welcome.png)  no-repeat;
}
.banner{
    height: 300px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%) center center;
    background-size: cover;
}
.banner-title{
    padding: 220px 0 160px 40px;
}
.banner-text{
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    align-items: center;
    color: var(--color-white);
    background: var(--color-black-2);
    text-align: center;
    font-family: var(--font-forum);
    font-size: 40px;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px 40px 20px;
}
.section-title{
    width: 100%;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-title h2{
    color: var(--color-black-2);
    font-family: var(--font-forum);
    font-size: 40px;
    letter-spacing: 2px;
}
.section-title hr{
    content: '';
    background: var(--color-black-2);
    width: 50px;
    height: 1px;
}
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-content p{
    text-align: center;
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    margin-top: 40px;
}
.about-slider{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-list{
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}
.about-item{
    width: 450px;
    height: 550px;
    margin-right: 25px;
}
.about-item:last-child{
    margin-right: 0;
}
.pagination{
    width: 78px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item{
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: var(--color-black-2);
    border-radius: 50%;
    margin-left: 10px;
}
.pagination-item:after{
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 26px;
    height: 26px;;
}
.pagination-item:first-child{
    background-color: var(--color-brawn);
    margin-left: 0;
}

.season{
    width: 100%;
    margin-top: 40px;
}
.season-title{
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}
.season-inputs{
    display: flex;
}
.season-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 90px;
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.season-input{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid var(--color-black-1);
}
.season-item input[type=radio]{
    height: 17px;
    width: 17px;
    margin-right: 20px;
    -webkit-appearance: none;
    border-radius: 50%;
}
.season-item input[type=radio]:checked{
    background: var(--color-black-1);
    border: 3px solid #FFF;
    outline: 1px solid var(--color-black-1);
}
.season-item input[type=radio]:disabled{
    outline: 1px solid var(--color-black-1);
}

.season-item:last-child{
    margin-right: 0;
}
.season-active{
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.season-active input{
    color: black;
    border: 1px solid var(--color-black-1);
}
.cards{
    width: 100%;
    margin-top: 40px;
}
.card-section{
    width: 100%;
    display: flex;
}
.card-item{
    position: relative;
    width: 550px;
    height: 556px;
    border: 1px solid var(--color-black-1);
    margin-right: 260px;
}
.card-item:last-child{
    margin-right: 0;
}
.card-pick{
    font-family: var(--font-forum);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0 20px 20px;
}
.card-pick hr{
    content: '';
    background: var(--color-brawn);
    width: 60px;
    height: 1px;
}
.card-title{
    color: #000;
    font-family: var(--font-inter);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 20px 20px;
}
.card-description{
    width: 355px;
    color: #000;
    font-family: var(--font-inter);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0 0 15px 20px;
}
.card-button{
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    text-align: center;
    font-family: var(--font-inter);;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border: 1px solid var(--color-black-1);
    padding: 7px 27px;
}
.card-button-own{
    cursor: inherit;
    width: 75px;
    height: 30px;
    color: var(--color-brawn);
    border-radius: 2px;
    border: 1px solid var(--color-brawn);
}
.card-right{
    position: absolute;
    width: 200px;
    height: 300px;
    left: 390px;
    top: 255px;
}
.footer{
    width: 100%;
    height: 250px;
    background-color: var(--color-black-2);
    color: var(--color-white);
    padding: 20px 20px 44px;
}
.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer-top p{
    font-family: var(--font-inter);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}
.footer-top p:last-child{
    text-align: right;
}
.footer-middle{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer-middle p{
    text-align: right;
    font-family: var(--font-inter);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}
.socials a{
    margin-right: 15px;
}
.socials a:last-child{
    margin-right: 0;
}
.footer-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-white);
    padding-top: 35px;
}
.footer-bottom img{
    width: 90px;
    height: 30px;
}
.footer-bottom p{
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}